<%- include("./partials/header") %>

<section class="home">
    <div >
        <img class="homeimg" src="/assets/homeimg.jpg" alt="" srcset="">
    </div>
    <div class="container" >
        <div class="findfoodchild text-center">
    <%   if (!currentUser) {   %>
            <h1>Get a Delivery in 30 Minutes or FREE</h1>
            <p>Your favourite local restaurants delivered</p>
        <a href="/cuisine" class="aboutbtn btn btn-lg">Book a Meal</a>
      <%  } else if(currentUser.partner == true) { %>
        <h2 class="smallnone">Partner <i class="fas fa-utensils"></i> <%= currentUser.name %></h2>
        <a href="/cuisine" class="aboutbtn btn btn-md">All Cuisine</a>
        <a href="/vieworders" class="aboutbtn btn btn-md">New Orders</a>
        <a href="/Previousorders" class="aboutbtn btn btn-md">Previous Orders</a>
        <a href="/additems" class="aboutbtn btn btn-md">Add Items</a>
        <a href="/restaurantitems" class="aboutbtn btn btn-md">My Items</a>
        <a href="/profileupdate" class="aboutbtn btn btn-md">Edit Profile</a>
       <% } else { %>
        <i class="fa fa-user" aria-hidden="true"></i>
        <h2 class="smallnone"><%= currentUser.name %></h2>
        <a href="/cuisine" class="aboutbtn btn btn-lg">Book a Meal</a>
        <a href="/mycart" class="aboutbtn btn btn-lg">My Cart</a>
        <a href="/myorders" class="aboutbtn btn btn-lg">My Orders</a>
        <a href="/profileupdate" class="aboutbtn btn btn-lg">Edit Profile</a>
      <%  }  %>
        </div>
    </div>
    <div class="container my-5 text-center">
        <h1>Popular cuisines</h1>
        <p>Browse popular take out cuisines from restaurants in your area and order delivery online.</p>
        <div class="row d-flex justify-content-center">
            <div class="row">

            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="card text-center m-2" id="homecard"  style="width: 16.5rem; background-color: #e8e8e8;">
                    <div class="header">
                        <img alt="Food image cap"  class="card-img" 
                        src= "https://images.pexels.com/photos/842519/pexels-photo-842519.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" />
                    </div>
                    <div class="body mt-1" style="height: 30px;">
                        <h4>Pizza</h4>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 ">
                <div class="card text-center m-2" id="homecard" style="width: 16.5rem; background-color:#e8e8e8;">
                    <div class="header">
                        <img src="https://images.pexels.com/photos/162993/food-thai-spicy-asian-162993.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="Food image cap"  class="card-img"  />
                    </div>
                    <div class="body mt-1" style="height: 30px;">
                        <h4>Thai</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 ">
                <div class="card text-center m-2" id="homecard"  style="width: 16.5rem; background-color:#e8e8e8;">
                    <div class="header">
                        <img src="https://images.pexels.com/photos/2474661/pexels-photo-2474661.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" 
                        alt="Food image cap"  class="card-img"  />
                    </div>
                    <div class="body mt-1" style="height: 30px;">
                        <h4>Indian</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="card text-center m-2" id="homecard" style="width: 16.5rem; background-color: #e8e8e8;">
                    <div class="header">
                        <img src="https://images.pexels.com/photos/1487511/pexels-photo-1487511.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" 
                        alt="Food image cap"  class="card-img" />
                    </div>
                    <div class="body mt-1" style="height: 30px;">
                        <h4>Italian</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container" style="margin-top: 5rem;">
        <div class="row ">
            <div class="col-lg-6 col-sm-12 text-center">
                <img src="/assets/app-download.jpg" alt="" srcset="" 
                style="width: 18rem; filter: drop-shadow(0 0 2px rgba(68, 51, 51, 0.6)); border-radius: 1rem;">
            </div>
            <div class="col text-center">
                <h2 style="margin-top: 5rem;">Find your flavour even faster</h2>
                <p>For speedy ordering, get the free FoodShala app on iOS or Android.</p>
                <button type="button" class="btn btn-lg aboutbtn"><i class="fab fa-apple"></i> Download</button>
                <button type="button" class="btn btn-lg aboutbtn2"><i class="fab fa-android"></i> Download</button>
            </div>
        </div>
    </div>
</section>

<section>
    <div style=" background-color: #e8e8e8; border-radius: 0.2rem; filter: drop-shadow(0 0 5px rgba(190, 162, 162, 0.4));" class="container mt-5 text-center">
        <div class="row">
            <div class="col-6">
                <h2>Restaurant?</h2>
                <h3>Become Partner With <span style="color: #fa2937">FoodShala</span></h3>
            </div>
            <div class="col-6" style="margin-top: -1rem ;">
                <a class="btn btn-lg aboutbtn" href="partnersignup">Register</a>
            </div>
            
        </div>
    </div>
</section>



<%- include("./partials/footer") %>