<%- include("./partials/header") %>

<div class="container-fluid">
    <div class="row loginsm">
      <div class="col-sm-12 col-md-6 col-xs-12 login-section-wrapper">
        <div class="login-wrapper my-auto">
          <h1 class="login-title">Profile Update</h1>
          <form action="/profileupdate" method="POST">
            <div class="form-group">
                <label for="text">Name</label>
                <input type="text" name="name" id="text" class="form-control" placeholder="Kumar Anand">
              <label for="text">Address</label>
                <input type="text" name="address" id="text" class="form-control" placeholder="51 Area, colony 6, Near S.K Hospital " >
            </div>
            <label for="tel">Phone Number</label>
                <input type="tel" name="phone" id="text" class="form-control" placeholder="9898989899">
               <% if(currentUser.partner == true) {  %>
          
          <%   } else {  %>
            <div class="form-group mt-3">
              <label for="flavours">Preference:</label>
              <select id="flavours" name="category">
                <option value="veg">Vegetarian</option>
                <option value="nonveg">non-Vegetarian</option>
              </select>
          </div>
        <%  } %>
            <button type="submit" class="btn btn-block btn-lg aboutbtn my-2">Update</button>
          </form>
        </div>
      </div>
      <div class="col-sm-6 px-0 d-none d-md-block">
        <img src="https://images.pexels.com/photos/4160071/pexels-photo-4160071.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"  alt="Signup image" class="signup-img">
      </div>
      </div>
    </div>


<%- include("./partials/footer") %>
