<%- include("./partials/header") %>
<style>
    body{
        color: white;
    }
</style>

<div class="container bg-dark">
    <div class="m-2">
        <h1>Food Safety</h1>
        <h4 class="text-center">What Restaurant <span style="color: #fa2937;" > Must DO</span></h4>
    </div>
    <div class="container" >
        <p> <strong>1. Wash hands with soap and water </strong> <br>
Wet hands with clean running water and apply soap. Use warm water if it is available. Rub hands together to make a lather and scrub all parts of the hand for 20 seconds. Rinse hands thoroughly and dry using a clean paper towel. If possible, use a paper towel to turn off the faucet.</p>
<p> <strong>2. Sanitize surfaces</strong> <br>
    Surfaces should be washed with hot, soapy water. A solution of 1 tablespoon of unscented, liquid chlorine bleach per gallon of water can be used to sanitize surfaces.
 </p>
 <p> <strong>3. Clean sweep refrigerated foods once a week </strong> <br>
    At least once a week, throw out refrigerated foods that should no longer be eaten. Cooked leftovers should be discarded after 4 days; raw poultry and ground meats, 1 to 2 days.
 </p>
 <p><strong>4. Keep appliances clean</strong> <br>
Clean the inside and the outside of appliances. Pay particular attention to buttons and handles where cross-contamination to hands can occur.
 </p><p> <strong>5. Rinse produce </strong> <br>
    Rinse fresh vegetables and fruits under running water just before eating, cutting, or cooking. Even if you plan to peel or cut the produce before eating, it is important to thoroughly rinse it first to prevent microbes from transferring from the outside to the inside of the produce.
 </p><p> <strong>6. Separate foods when shopping </strong> <br>
Place raw seafood, meat, and poultry in plastic bags. Store them below ready-to-eat foods in your refrigerator.
 </p><p> <strong>7. Separate foods when preparing and serving</strong> <br>
Always use a clean cutting board for fresh produce and a separate one for raw seafood, meat, and poultry. Never place cooked food back on the same plate or cutting board that previously held raw food.
 </p><p> <strong>8. Use a food thermometer when cooking</strong> <br> 
A food thermometer should be used to ensure that food is safely cooked and that cooked food is held at safe temperatures until eaten.

 </p><p> <strong>9. Cook food to safe internal temperatures</strong> <br>
One effective way to prevent illness is to check the internal temperature of seafood, meat, poultry, and egg dishes. Cook all raw beef, pork, lamb, and veal steaks, chops, and roasts to a safe minimum internal temperature of 145 °F. For safety and quality, allow meat to rest for at least 3 minutes before carving or eating. Cook all raw ground beef, pork, lamb, and veal to an internal temperature of 160 °F. Cook all poultry, including ground turkey and chicken, to an internal temperature of 165 °F.
 </p>
 <p> <strong>10. Keep foods at safe temperatures</strong> <br>
     
Hold cold foods at 40 °F or below. Keep hot foods at 140 °F or above. Foods are no longer safe to eat when they have been in the danger zone between 40-140 °F for more than 2 hours (1 hour if the temperature was above 90 °F).
 </p>
  






</div>
</div>








<%- include("./partials/footer") %>
