#top {
    background-color: #fa2937;
    width: 100%;
    background-repeat: repeat;
    background-position: top left;
    background-image: url("https://images.getbento.com/accounts/ee85a68df770d664f090dd52eaabd9d1/media/images/60792halftone-texture-low-opacity.png") ;
    z-index: 1;
}

#top a:hover {
    color: white;
}
#threedot {
    z-index: 2; 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-link {
    font-family: "Anton";
    letter-spacing: 2px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.navbar-brand {
    color: white;
    font-family: "Anton";
    font-size: 3rem;
    letter-spacing: 1px;

}

.homeimg {
    height: 50vh;
    width: 100%;
    position: relative;
    z-index: -1;
}

.findfoodchild {
    max-width: 100%;
    min-height: 200px;
    padding: 16px;
    border-radius: 4px;
    background-color: rgb(248, 87, 87);
    margin-top: -175px;
    filter: drop-shadow(0 0 10px rgba(68, 51, 51, 0.6));
}

.carousel-item img{
    height: 100vh;
}

.carousel-caption {
    margin-bottom: 10rem;;
}

.abouth1{
    font-size: 5rem;
    font-weight: 900;
    filter: drop-shadow(0 0 10px rgba(68, 51, 51, 0.6));
    text-transform: uppercase;
}

.aboutbtn {
    background-color: #f3cb38;
    font-family: "permanent marker";
    margin-top: 2rem;
    border-radius: 3px;
}

.aboutbtn:hover {
    background-color: #e0850d ;
    color: white;
}

#cta {
    background-color: #fff;
    background-image: url("https://media-cdn.getbento.com/accounts/ee85a68df770d664f090dd52eaabd9d1/media/s69TdiNTxWptck4MyjHo_one-col-bg.png");
    background-size: 1600px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 7% 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.aboutbtn2 {
    background-color: #fa2937;
    font-family: "permanent marker";
    color: white;
    margin-top: 2rem;
    border-radius: 3px;
}

.aboutbtn2:hover {
    background-color: #f3cb38 ;
    color: black;
}
.cta-heading {
    color: #fa2937;
    font-size: 5rem;
    line-height: 1.5;
    font-weight: 900;
}
.about-p {
    font-family: "Anton";
    letter-spacing: 1px;
    filter: drop-shadow(0 0 10px rgba(68, 51, 51, 0.6));

}

#additem {
    background-image: url("https://images.pexels.com/photos/941861/pexels-photo-941861.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100vh;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    image-rendering: optimizeSpeed;
    padding-top: 20rem;
}

.socialink {
    font-size: 2rem;
    letter-spacing: 2rem;
    border-radius: 1px;    
}

.foot {
    margin-top: 2rem;
    color: #f3cb38;
}


.footer {
    background-color: #fa2937 ;
    padding-top: 5px;
    background-image: url("https://images.getbento.com/accounts/ee85a68df770d664f090dd52eaabd9d1/media/images/60792halftone-texture-low-opacity.png") ;
    text-align: center;
    padding-bottom: 5px;
}

.footerlink {
    font-family: "Anton";
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    margin-right: 1rem;
}
.footerlink:hover {
  text-decoration: none;
  color: #fff;
}
/* Login css */

.login-wrapper {
    width: 300px;
    max-width: 100%;
    margin-left: 6rem;
 }
    @media (max-width: 575px) {
      .login-wrapper {
        width: 100%; } }
    .login-wrapper label {
      font-size: 14px;
      font-weight: bold;
      color: #b0adad; }
    .login-wrapper .form-control {
      border: none;
      border-bottom: 1px solid #e7e7e7;
      border-radius: 0;
      padding: 9px 5px;
      min-height: 40px;
      font-size: 18px;
      font-weight: normal; }
      .login-wrapper .form-control::-webkit-input-placeholder {
        color: #b0adad; }
      .login-wrapper .form-control::-moz-placeholder {
        color: #b0adad; }
      .login-wrapper .form-control:-ms-input-placeholder {
        color: #b0adad; }
      .login-wrapper .form-control::-ms-input-placeholder {
        color: #b0adad; }
      .login-wrapper .form-control::placeholder {
        color: #b0adad; }
    .login-wrapper .login-btn {
      padding: 13px 20px;
      background-color: #fdbb28;
      border-radius: 0;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 14px; }
    .login-wrapper a.forgot-password-link {
      color: #080808;
      font-size: 14px;
      text-decoration: underline;
      display: inline-block;
      margin-bottom: 54px; }
      @media (max-width: 575px) {
        .login-wrapper a.forgot-password-link {
          margin-bottom: 16px; } }
    .login-wrapper-footer-text {
      font-size: 16px;
      color: #000;
      margin-bottom: 0; }
  
  .login-title {
    font-size: 30px;
    color: #000;
}
  
  .login-img {
    width: 100%;
    height: 85vh;
    margin-bottom: -50px; 
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left; }
    .signup-img {
    width: 100%;
    height: 100vh;
    margin-bottom: -100px; 
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left;
       object-position: left; }
      
      .login-section-wrapper {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        padding: 68px 100px;
        background-color: #fff; }
        @media (max-width: 991px) {
          .login-section-wrapper {
            padding-left: 50px;
            padding-right: 50px; } }
        @media (max-width: 575px) {
          .login-section-wrapper {
            padding-top: 20px;
            padding-bottom: 20px;
            min-height: 100vh; } }
        
/* user Dropdown */

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3cb38;
    min-width: 160px;
    border-radius: 0.4rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    font-family: "Anton";
    padding: 12px 16px;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media (max-width: 1400px) {


  }

  @media (max-width: 1200px) {


  }
  
  @media (max-width: 580px) {
    .loginsm {
      width: 300px;
    }
  }
  @media (max-width: 990px) {
    
  }

  
  @media (max-width: 600px) {
    .cta-heading{
      font-size: 2rem;
    }
    .carousel-caption{
      margin-bottom: 10rem;
    }

  }

  @media (max-width: 767px){
    #homecard{
      margin-left: 100px;
    }
    .abouth1 {
      font-size: 3rem;
    }
  }